<!DOCTYPE html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='requests.js') }}"></script>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <title>Future Use</title> 
    </head>

    <body>

        <div class="header">
          <h1>Future Use</h1>
        </div>
    
        <div class="navBar"> 
        </div>
    
        <div class="container" id="containter">
          <div class="main" id="main">
              <a class="graph">insert the graph stuff here</a>
          </div>
        </div>
        
      </body>
</html>